{{ $ := .root }}
{{ $page := .page }}
<!-- Selected Publications widget -->
<div class="main-leftcol section-heading">
  <h1 id="{{ $page.File.TranslationBaseName }}">{{ with $page.Title }}{{ . | markdownify }}{{ end }}</h1>
  {{ with $page.Params.subtitle }}<p>{{ . | markdownify }}</p>{{ end }}
</div>
<div class=" main-rightcol">
  {{ with $page.Content }}<p>{{ . | markdownify }}</p>{{ end }}
  {{ if $page.Params.detailed_list }}
  {{ range (where (where $.Data.Pages "Type" "publication") ".Params.selected" true) }}
  {{ partial "publication_li_detailed" . }}
  {{ end }}
  {{ else }}
  <ul class="fa-ul">
    {{ range (where (where $.Data.Pages "Type" "publication") ".Params.selected" true) }}
    {{ partial "publication_li_simple" . }}
    {{ end }}
  </ul>
  {{ end }}
</div>
