$typicalwidth: 50em;
$smallwidth: 800px;
$smallerwidth: 700px;
$headerfontbig: "Raleway Black", sans-serif;
$headerfont: "Raleway", sans-serif;
$textcolor: #222;
$subtextcolor: #555;
$highlightcolor: #2ab;
$highlight1: #dfaa2e;
$linkcolor: #30465d;
