@import "base";

article {
  animation: intro 0.3s both;
  animation-delay: 0.15s;
  display: block;
  max-width: $typicalwidth;
  margin-left: auto;
  margin-right: auto;
}

.article-header {
  position: relative;
  clear: both;
}

.article-title {
  font-size: 1.75rem;
}

.article-metadata {
  line-height: 30px;
  font-size: 14px;
  letter-spacing: 0.03em;
  margin-bottom: 5px;
  color: $subtextcolor;

  a {
    color: $subtextcolor;
  }

  .article-date,
  .article-categories,
  .article-tags {
    margin-right: 10px;
  }

  a:hover {
    color: #0095eb;
    text-decoration: none;
  }
}

.article-style {
  figure {
    margin-bottom: 60px;

    video,
    img {
      margin: 0 auto;
      max-width: 100%;
    }
  }
}

.article-container {
  justify-content: space-around;
  align-content: space-evenly;

  h3,
  h4 {
    margin-top: 0;
    grid-column: 1;
  }

  .resources {
    display: grid;
    grid: auto / repeat(auto-fit, minmax(10em, 1fr));
    border: 2px dashed #ddd;
    border-radius: 1em;
    margin: 1em auto;

    h4 {
      grid-column: 1/-1;
      margin: 1em 1em;
    }

    .resource__item {
      margin: 1em;

      video,
      img {
        margin: 0;
        max-width: 100%;
      }
    }
  }
}

.article-list-item {
  margin-bottom: 40px;

  &:last-child {
    margin-bottom: 0 !important;
  }
}
