@import "base";

html {
  color: $textcolor;
  font: 16px/1.65 "Montserrat", sans-serif;
}

body {
  counter-reset: captions;
  hyphens: auto;
}

p {
  margin-bottom: 1rem;
}

footer {
  margin-left: auto;
  margin-right: auto;
  width: 100%;

  p {
    font-size: 0.75rem;
    text-align: center;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  hyphens: none;
  font-family: $headerfont;
  font-weight: 400;
  margin-bottom: 0.5rem;
  line-height: 1.25;
}

h1 {
  font-size: 2.25rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-weight: 700;
  font-size: 1.25rem;
}

h4,
h5,
h6 {
  font-weight: 700;
  font-size: 1rem;
}

a {
  color: $linkcolor;
  text-decoration: none;
  transition: color 0.6s ease;

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

img,
video {
  height: auto;
}

.img-responsive {
  width: auto;
  height: 200px;
}

figcaption {
  display: block;
  line-height: 1.25;
  font-size: 1rem;
  margin-bottom: 1.65rem;
  counter-increment: captions;

  &::before {
    font-weight: 700;
    text-transform: uppercase;
    content: "Figure " counter(captions) ": ";
  }

  h4 {
    display: inline-block;
    font-size: 1rem;
    font-weight: 400;
    margin: 0;
  }
}

pre,
code {
  font-family: "Roboto Mono", "Courier New", "Courier", monospace;
}

pre {
  margin: 0 0 1rem;
  overflow: auto;
}

hr {
  border: 0;
  height: 1px;
  background: #333;
  background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

.section-heading {
  h1 {
    margin: 0 0 10px;
  }

  p {
    font-weight: 400;
    font-size: 1.1rem;
    color: $subtextcolor;
  }
}

blockquote {
  padding: 0.5rem 1rem;
  margin: 0.8rem 0;
  color: $subtextcolor;
  border-left: 0.25rem solid #e5e5e5;

  p:last-child {
    margin-bottom: 0;
  }

  @media (min-width: 30em) {
    padding-right: 5rem;
    padding-left: 1.25rem;
  }
}

.space-below {
  margin-bottom: 50px;
}

.universal-wrapper {
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
}

.big-icon {
  font-size: 2rem;
}

.fa-ul > li {
  position: relative;
  margin: 1em;
}

.pager {
  display: flex;
  list-style: none;
  justify-content: space-between;
  padding-left: 0;
}

.project-toolbar {
  margin-bottom: 2rem;
}

.project-item {
  margin-bottom: 1.5rem;
}

footer a#back_to_top i {
  color: $highlight1;
}

header {
  position: sticky;
  top: 0;
  display: flex;
  text-shadow: -1px 0 1px white, 0 1px 1px white, 1px 0 1px white,
    0 -1px 1px white;
  background: rgba(255, 255, 255, 0.4);
  z-index: 2;
  margin-left: auto;
  margin-right: auto;
  width: 100%;

  .logo {
    margin: 0 50px 0 10px;
    display: inline;
    white-space: nowrap;
    font: 100 2.5em $headerfont;
    transition: 0.3s ease-in-out;
    transform-origin: 0 50%;

    &:hover {
      transform: scale(1.2);
    }

    a {
      text-decoration: none;
    }

    b {
      font-family: $headerfontbig;
      font-weight: 900;
      padding-left: 2px;
      color: $highlightcolor;
    }
  }
}

.embed-responsive {
  position: relative;
  display: block;
}

.content {
  max-width: $typicalwidth;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: $smallwidth) {
    margin-left: minmax(3em, auto);
  }

  .continue {
    font-size: 80%;
  }

  .apost {
    margin-bottom: 3rem;
  }
}

@import "menutoggle.scss";
@import "article.scss";
@import "pub.scss";
@import "card.scss";
@import "widgets.scss";
