$typicalwidth: 600px;
$smallwidth: 800px;
$smallerwidth: 600px;
$headerfontbig: "Raleway Black", sans-serif;
$headerfont: "Raleway", sans-serif;

* {
  box-sizing: border-box;
}

html {
  color: rgba(0, 0, 0, 0.8);
  font: 16px/1.65 "Montserrat", sans-serif;
}

body {
  counter-reset: captions;
}

p {
  margin-bottom: 1rem;
}

footer {
  margin-left: auto;
  margin-right: auto;
  width: 100%;

  p {
    font-size: 0.75rem;
    text-align: center;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $headerfont;
  font-weight: 400;
  margin-bottom: 0.5rem;
  line-height: 1.25;
  color: #313131;
}

h1 {
  font-size: 2.25rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-weight: 700;
  font-size: 1.25rem;
}

h4,
h5,
h6 {
  font-weight: 700;
  font-size: 1rem;
}

a {
  color: #30465d;
  text-decoration: none;
  transition: color 0.6s ease;

  &:hover,
  &:focus {
    color: #30465d;
    text-decoration: underline;
  }
}

.logo {
  margin: 0 30px 0 10px;
  display: inline;
  white-space: nowrap;
  font: 100 2.5em $headerfont;

  a {
    color: black;
  }

  b {
    font-family: $headerfontbig;
    font-weight: 900;
    padding-left: 2px;
    color: #2ab;
  }
}

img,
video {
  height: auto;
}

.img-responsive {
  width: auto;
  height: 200px;
}

figcaption {
  display: block;
  line-height: 1.25;
  font-size: 1rem;
  margin-bottom: 1.65rem;
  counter-increment: captions;

  &::before {
    font-weight: 700;
    text-transform: uppercase;
    content: "Figure " counter(captions) ": ";
  }

  h4 {
    display: inline-block;
    font-size: 1rem;
    font-weight: 400;
    margin: 0;
  }
}

pre,
code {
  font-family: "Roboto Mono", "Courier New", "Courier", monospace;
}

pre {
  margin: 0 0 1rem;
  overflow: auto;
}

hr {
  border: 0;
  height: 1px;
  background: #333;
  background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

.section-heading {
  h1 {
    margin: 0 0 10px;
  }

  p {
    font-weight: 400;
    font-size: 1.1rem;
    color: #b2b2b2;
  }
}

blockquote {
  padding: 0.5rem 1rem;
  margin: 0.8rem 0;
  color: #7a7a7a;
  border-left: 0.25rem solid #e5e5e5;

  p:last-child {
    margin-bottom: 0;
  }

  @media (min-width: 30em) {
    padding-right: 5rem;
    padding-left: 1.25rem;
  }
}

.space-below {
  margin-bottom: 50px;
}

.universal-wrapper {
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
}

.big-icon {
  font-size: 2rem;
}

ul.ul-interests li {
  font-size: 0.9rem;
}

.pager {
  display: flex;
  list-style: none;
  justify-content: space-between;
  padding-left: 0;
}

.project-toolbar {
  margin-bottom: 2rem;
}

.project-item {
  margin-bottom: 1.5rem;
}

.isotope-item {
  z-index: 2;
}

.isotope-item:hover {
  z-index: 3;
}

ul.ul-edu {
  list-style: none;

  li {
    position: relative;
    padding: 0 15px 4px 3px;

    .description p {
      margin: 0;

      &.course {
        font-size: 0.9rem;
      }

      &.institution {
        font-size: 0.75rem;
        color: rgba(0, 0, 0, 0.6);
      }
    }
  }
}

.site-footer,
footer a#back_to_top i {
  color: #dfaa2e;
}

header {
  display: flex;
  padding-bottom: 2rem;
}

header > .container {
  background-color: #fcfcfc;
  border-radius: 12px;
}

.continue {
  font-size: 80%;
}

.main-leftcol {
  grid-column: 1;
  padding-bottom: 2rem;
}

.main-rightcol {
  grid-column: 2;
  padding-bottom: 2rem;
  max-width: $typicalwidth;

  h3 {
    margin-top: 0;
  }
}

.embed-responsive {
  position: relative;
  display: block;
}

.standardbody,
.pubcontainer {
  max-width: $typicalwidth;
  margin-left: auto;
  margin-right: auto;
}

.apost {
  margin-bottom: 3rem;
}

.main-allcol {
  grid-column: 1 / span 2;
  padding-bottom: 2rem;
}

@import "menutoggle.scss";
@import "menuhidden.scss";
@import "article.scss";
@import "pub.scss";
@import "card.scss";
@import "widgets.scss";
