@import "base";
$menuwidth: 12em;

.main-menu {
  position: fixed;
  right: -$menuwidth;
  margin-left: auto;
  margin-right: 0;
  top: 0;
  overflow-y: scroll;
  overflow-x: visible;
  border-radius: 0 0 0 12px;
  transition: 0.3s ease;
  z-index: 999;

  a {
    display: block;
    padding: 0.75em 15px;
    line-height: 1em;
    font-size: 1em;
    color: white;
    text-decoration: none;
    border-bottom: 1px solid #383838;

    &:hover,
    &:focus {
      background: #333;
      text-decoration: underline;
    }

    @media (min-width: $smallwidth) {
      color: #011627;
      border: 0 !important;

      &:hover,
      &:focus {
        background: none;
      }
    }
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 2.5em 0 0;
    box-shadow: -8px 0 8px rgba(0, 0, 0, 0.5);
    min-height: 100%;
    width: $menuwidth;
    background: black;
    background: rgba(0, 0, 0, 0.6);

    li:first-child a {
      border-top: 1px solid #383838;
    }

    @media (min-width: $smallwidth) {
      display: flex;
      box-shadow: none;
      height: auto;
      width: auto;
      background: none;
      padding: 0;
    }
  }

  .menu-close {
    position: absolute;
    right: 0;
    top: 0;

    @media (min-width: $smallwidth) {
      display: none;
    }
  }

  &:target,
  &[aria-expanded="true"] {
    right: 0;

    .menu-close {
      z-index: 1001;
    }
  }

  @media (min-width: $smallwidth) {
    position: relative;
    left: 0;
    height: auto;
  }

  @media (max-width: $smallwidth) {
    text-shadow: none;
  }
}

.sr-only {
  position: fixed;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.menu-toggle {
  position: absolute;
  right: 0;
  top: 0;
  display: inline-block;
  padding: 0.75em 15px;
  line-height: 1em;
  font-size: 1.2em;
  color: #333;

  @media (min-width: $smallwidth) {
    display: none;
  }
}
