@import "base";

.pub {
  max-width: $typicalwidth;
  margin-left: auto;
  margin-right: auto;

  .pub-title {
    margin-bottom: 5px;
  }

  .pub-authors {
    font-style: italic;
    line-height: 30px;
  }
}

.pub-icon {
  color: #03396c;
  font-size: 0.81em;
  padding-top: 6px;
}

.pub-author-short-wrap {
  font-style: italic;
  display: block;
  position: relative;

  .pub-authors-short {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    transition: 0.5s ease;

    &:hover {
      background-color: rgba(255, 255, 234, 0.6);
      overflow: visible;
      white-space: normal;
      height: auto;
      box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.3);
    }
  }
}

.pub-list-item {
  margin-bottom: 2rem;

  .pub-authors {
    line-height: normal;
    font-style: normal;
    font-size: 1rem;
    color: #999;
  }

  .pub-publication {
    color: $highlight1;
    font-size: 1rem;
  }

  h3 {
    hyphens: auto;
  }
}
