@import "base";

.widget-container {
  .main-allcol {
    grid-template-columns: 1fr 1fr;
    grid-column: 1 / span 2;
    padding-bottom: 2rem;

    @media (min-width: $smallerwidth) {
      display: grid;
    }
  }

  .main-leftcol {
    grid-column: 1;
    padding-bottom: 2rem;

    .description {
      position: sticky;
      top: 3em;
    }
  }

  .main-rightcol {
    grid-column: 2;
    padding-bottom: 2rem;
    max-width: $typicalwidth;

    h3 {
      margin-top: 0;
    }
  }

  @media (min-width: $smallerwidth) {
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-column-gap: 2em;
  }

  padding: 0 auto;
  margin: 0 auto;
  max-width: $typicalwidth;

  #bio {
    p {
      margin: 0;
    }

    ul {
      margin: 0;
    }

    li {
      font-size: 0.9rem;
    }

    .ul-edu {
      li {
        list-style: none;

        .description p {
          &.course {
            font-size: 0.9rem;
          }

          &.institution {
            font-size: 0.75rem;
            color: $subtextcolor;
          }
        }
      }
    }
  }

  #profile {
    ul {
      margin: 0;
    }

    .social-icon-2 {
      display: inline-flex;
      padding: 0;
      font-size: 2em;

      li {
        list-style: none;
        margin-right: 10px;

        &:last-of-type {
          margin-right: 0;
        }

        &:hover {
          transform: scale(1.2);
        }
      }
    }

    .twotable {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }

    text-align: center;

    .portrait {
      background-image: url("../img/portrait.jpg");
      width: 200px;
      height: 200px;
      margin: 0 auto;
      border-radius: 50%;
      background-size: cover;
    }

    .portrait-title {
      h2 {
        font-size: 1.75em;
        font-weight: 300;
        color: black;
        margin: 20px 0 10px;
      }

      h3 {
        font-size: 1.13em;
        font-weight: 300;
        color: $subtextcolor;
        margin: 0 0 10px;
      }
    }
  }
}

#container-publications > div {
  margin-bottom: 3em;
}

#projects {
  .project-title {
    display: inline-block;
    margin-bottom: 6px;
  }

  .project-summary {
    font-size: 0.9rem;
    margin-bottom: 0.4rem;
  }

  .project-tags {
    font-size: 0.75rem;
    color: #9c9c9c;
  }
}

#container-projects {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2em;
}
