<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="{{- .Site.LanguageCode | default "en-us" -}}">
  <head>
    {{- partialCached "head-static" . -}}
    <link rel="canonical" href="{{- .Permalink -}}">
    <title>{{- if not .IsHome -}}{{- .Title -}} | {{- end -}}{{- .Site.Title -}}</title>
  </head>
  <body id="top">
    {{- partial "navbar.html" . -}}

    <div class="content">
      {{- block "main" . -}}
      <!-- The part of the page that begins to differ between templates -->
      {{- end -}}
    </div>

    <footer class="site-footer">
      {{- block "footer" . -}}
      {{- partial "footer_container.html" . -}}
      {{- end -}}
    </footer>
  </body>
</html>
