{{ $baseurl := .Site.BaseURL }}

<div class="post">

  <section id="{{ .Slug }}" class="{{ .Section }}">
	<header class="post-header">
	  <a href="{{ .Permalink }}">
		<h2 class="post-title">{{ .Title }}</h2>
	  </a>

	  <p class="post-meta">
	  <time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" | safeHTML }}">
		{{ .Date.Format "2 Jan 2006" }}
	  </time>
	  <span class="taglist">
		{{if .Params.tags }}
		&middot; 
		{{ range $index, $tag := .Params.tags }}
		<a href="{{ $baseurl }}tags/{{ $tag | urlize }}/">{{ $tag }}</a>
		{{ end }}
		{{ end }}
	  </span>
	  </p>
	</header>
	<span class="separator"> &middot; </span>
	<div class="post-description">
	  <p>
	  Yesterday at CSSConf, we launched ....
	  </p>
	</div>
  </section>
</div>
