{{- /*
    { { partial "bundled_res.html" .Resources } }
*/ -}}
<div class = 'resources'>
<h4>{{- i18n "bundled_resources" -}}</h4>
  {{- range . -}}
<div class='resource__item'>
    {{- if eq .ResourceType "mp4" -}}
    <video controls src="{{- .RelPermalink -}}"></video>
    {{- else if eq .ResourceType "image" -}}
    <a href="#_" class="hidden" id="{{ .Name }}">
    <img src="{{- .RelPermalink -}}" alt="{{- .ResourceType | title -}}" >
      </a>
    <a href="#{{ .Name }}">
    <img src="{{- .RelPermalink -}}" alt="{{- .ResourceType | title -}}" >
    </a>
    {{- else -}}
    <a href="{{ .RelPermalink }}" 
       download="{{ .RelPermalink }}" 
      title="{{ .ResourceType | title }}"
      target="_self"> {{ .ResourceType | title }} {{ .Name }} </a>
    {{- end -}}
</div>
  {{ end }}
</ul>
