{{- /*
use like this:
{{ partial "bundled_res.html" .Resources }}
<p>{{ .MediaType }} </p>
*/ -}}
<div class = 'resources'>
  <h4>{{- i18n "bundled_resources" -}}</h4>
  {{- range . -}}
  <div class='resource__item'>
    {{- if eq .MediaType.MainType "video" -}}
    <div class="thumb">
      <video controls src="{{- .RelPermalink -}}"></video>
    </div>
    {{- else if eq .MediaType.MainType "image" -}}
    <a href="#_" class="hidden" id="{{ .Name }}">
      <img src="{{- .RelPermalink -}}" alt="{{- .ResourceType | title -}}" >
    </a>
      <a href="#{{ .Name }}" class="thumb">
	<div class="thumb__content">
	  <img src="{{- .RelPermalink -}}" alt="{{- .ResourceType | title -}}" >
	</div>
    </a>
    {{- else -}}
    <div class="thumb">
      <a href="{{ .RelPermalink }}" title="{{ .ResourceType | title }}" target="_self"> 
	{{- .ResourceType | title }} {{ .Name -}} 
      </a>
    </div>
    {{- end -}}
  </div>
  {{- end -}}
</div>
