{{/* 
$style := resources.Get "css/style.css" | resources.ExecuteAsTemplate "css/style.css" . | resources.Minify | fingerprint 
*/}}
{{ $base := resources.Get "css/base.css" | resources.ExecuteAsTemplate "css/style.css" . -}}
{{ $article := resources.Get "css/article.css" -}}
{{ $style :=  slice $base $article | resources.Concat "bundle.css" | resources.Minify | fingerprint -}}
<link rel="stylesheet" href="{{ $style.Permalink }}" integrity="{{ $style.Data.Integrity }}">
{{ range .Site.Params.customCSS -}}
<link rel="stylesheet" href="{{ . | relURL }}">
{{- end }}
