{{- if or (.Paginator.HasPrev) (.Paginator.HasNext) -}}
<nav>
  <ul class="pager">
    <li>
    {{- if .Paginator.HasPrev -}}
    <a href="{{- .Paginator.Prev.URL | relLangURL -}}">&laquo; {{i18n "previous"}}</a>
    {{- else -}}
    {{i18n "no_earlier"}}
    {{- end -}}
    </li>
    <li>
    {{- if .Paginator.HasNext -}}
    <a href="{{- .Paginator.Next.URL | relLangURL -}}">{{i18n "next"}} &raquo;</a>
    {{- else -}}
    {{i18n "no_later"}}
    {{- end -}}
    </li>
  </ul>
</nav>
{{- end -}}
